{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'About' %} {% endblock %}
{% block body %}

<style>
  
 

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  </style>
<body>
<div class="about-section">
    <h1>About Us </h1>
    <p>Electro World is the new online e-commerce store-a continuously envolving shopping centre online</p>
  </div>
</body>
<br><br><br><br><br><br><br><br><br>


{% endblock %}